* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    color: white;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #95a4b2;
    height: 5rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    margin: 0;
    background-blend-mode: lighten;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
}
nav img {
    height: 100%;
    width: 100%;
    padding: 0.1rem;
}
nav > a >img {
    height: 5rem;
    margin-left: 2rem;
    width: 8rem;
    max-width: 100%;
}
nav a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: inherit;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu > div > a,.icon > div > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 0;
    transition: all 0.3s linear;
}
.menu > div:not(:first-child) > a:hover {
    border-radius: 2rem;
    background-color: aliceblue;
    color: black;
}
.menu1 {
    position: fixed;
    padding: 10px;
    max-width: 100%;
    width: 100vw;
    background-color: #95a4b2;
    top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    display: none;
}
.menu1 >div:first-child >a,.menu >div:first-child >a {
    color: red;
    font-weight: 700;
    text-decoration: underline;
}
.menu1 > div:not(:first-child) > a:hover {
    border-radius: 2rem;
    background-color: aliceblue;
    color: black;
}
.menu1 > div > a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    margin: 0;
    transition: all 0.3s linear;
}
.icon > div > a:hover {
    color: black;
}
#toggler,
nav label {
    display: none;
}
.nav_overlay {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.367);
}
.icon {
    text-align: right;
    list-style-type: none;
    position: relative;
    top: 0.5rem;
}
.user-dropdown {
    position: relative;
    margin-top: 1rem;
}
.user-info-dropdown::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    border-bottom: 10px solid rgb(193 216 234) ;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.user-info-dropdown {
    color: rgb(161, 17, 17);
    display: none;
    position: absolute;
    height: 15rem;
    right: -1rem;
    top: 0.5rem;
    width: 17rem;
    background-color: rgb(193 216 234);
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    text-align: left;
    border-radius: 5px;
}
.user-info-dropdown img {
    width: 100%;
}
.user-info-dropdown .user-img {
    width: 7rem; /* Điều chỉnh kích thước chiều rộng ảnh */
    height: 7rem; /* Điều chỉnh kích thước chiều cao ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị bóp méo */
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.user-img > div {
    position: absolute;
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    border-radius: 50%;
    width: 8.5rem;
    height: 8.5rem !important;
    right: -0.9rem;
    top: -0.1rem;
}
.user:hover .user-info-dropdown {
  display: block;
  height: 16rem;
}
#userInfo {
    margin-top: 0.2rem;
    border-top: 1px solid rgb(50, 50, 49) ;
}

header {
    display: flex;
}

.banner img {
    width: 100%;
    height: 100%;
    padding: 0;
}
.banner {
    width: 75%;
    height: 25rem;
    margin-top: 5rem;
    max-height: 100%;
}
.intro {
    margin-top: 5rem;
    height: 25rem;
    background-color: bisque;
    width: 25%;
    color: black;
    overflow: auto;
}
.intro > div {
    position: relative;
}
.fixed {
    position: fixed;
}
.upper {
    text-transform: uppercase;
   font-weight: bold;
}
.intro img {
    width: 120px;
    height: 80px;
    transition: transform 0.5s linear;
}
.intro > div {
    margin: 2rem;
}
.center {
    align-items: center;
}
.scale:hover {
    transform: scale(1.1);
}
.overflow {
    overflow: hidden;
}
.info {
    margin-left: 1rem;
}
.news {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}




a {
    text-decoration: none;
    cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.fix-img {
    background-image: url(images/background.jpg);
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 2000px;
    max-width: 100%;
}
.fix { 
    right: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    z-index: 1;
}
.container1 {
    max-width: 100%;
    position: relative;
    margin-top: 3rem;
    z-index: 99;
}
.ctn-fixed {
    position: fixed;
    top: 10px;
    margin: 0;
}
.ctn-absolute {
    position: absolute;
    top: 1250px;
}
.fix1 {
    top: 35rem;
    right: 0;
    position: absolute;
    height: 100%;
    width: 50vw;
    
}
.fix2 {
    height: 1480px;
    content: "";
}
.container2 {
    max-width: 100%;
    color: black;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.block-item {
    display: flex;
    justify-content: center;
}
.block-item >div {
    width: 470px;
    max-width: 100%;
}
.title h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
.input {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}
.input input {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 75px;
    border-radius: 6px 10px 10px 6px;
    border: 0;
}
.input a {
    width: 70px;
    height: 50px;
    position: absolute;
    border: 0;
    right: 0;
    top: 0;
    border-radius: 0 6px 6px 0;
    background-color: #0288d1;
}
.input a div {
    position: absolute;
    right: 1.4rem;
    top: 1rem;
}
.fa-solid {
    font-size: 1.2rem;
}
.types div {
    margin-bottom: -15px;
    margin-top: 2rem;
}
.types a {
    border: 1px solid white;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.types a:hover {
    background-color: white;
    color: black;
    transition: all .5s ease;
}
.font18 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.font18 p {
    font-size: 1.2rem;
    margin: 0;
}
.app > img {
    width: 200px;
    transform-origin: left;
    margin: 0;
    padding: 0;
    
}


.sale {
    padding: 13px 40px 10px;
    position: relative;
}
.sale img {
    width: 120px;
    height: 80px;
    transition: transform 0.5s linear;
}
.scale:hover {
    transform: scale(1.1);
}
.sale .uu-dai {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.uu-dai >span {
    font-size: 16px;
    font-weight: 700;
}
.uu-dai p {
    margin: 0;
}
.uu-dai a {
    display: flex;
}
.icon-list-deal {
    top: 10px;
    margin-right: 4px;
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
}
.icon-list-deal .square {
    width: 3px;
    height: 3px;
    background-color: #0288d1;
    position: absolute;
}
.square:first-child {
    top: 0;
    left: 0;
}
.square:nth-child(2) {
    top: 0;
    right: 0;
}
.square:nth-child(3) {
    left: 0;
    bottom: 0;
}
.square:last-child {
    right: 0;
    bottom: 0;
}

.list-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-item .item {
    background-color: white;
    display: block;
    padding: 8px;
    width: 33.333%;
}
.item > a {
    position: relative;
    display: block;
}
.item > a:hover {
    transition: box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 4px 15px 0 rgba(0,0,0,.19);
    text-decoration: none;
    border-radius: 6px;
}
.img-item {
    border-radius: 6px 6px 0 0;
    position: relative;
    height: 116px;
    overflow: hidden;
}
.img-item >img {
    width: 100%;
    height: 100%;
    position: absolute
}
.info-item {
    border: 1px solid #d7d7d7;
    border-radius: 0 0 6px 6px;
    height: 84px;
}
.item-address {
    padding: 5px 8px;
    border-bottom: 1px solid #ebebeb;
}
.item-address h4 {
    font-size: 14px;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px;
    padding-top: 5px;
}
.address {
    font-size: 12px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-item .type {
    font-size: 13px;
    color: #187caa;
    font-weight: 700;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-item .type >i {
    padding-right: 5px;
    padding-left: 3px ;
    margin: 0;
    font-size: 13px;
}

.max-footer {
    height: 92rem;
}




.footer {
    position: relative;
    background-color: rgb(149, 164, 178);
    width: 100%;
    color: #fff;
    padding: 30px 0 0 0;
    margin: 0;
    min-height: 12rem;
    bottom: 0;
    clear: both;
    overflow: hidden;
}
.footer .container3 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
  .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-logo img {
    max-width: 60%;
    max-height: 100%
  }
  .footer-logo > div {
    width: 100px;
    display: flex;
    justify-content: center;
  }
  
  .footer-menu ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .footer-menu li {
    margin-bottom: 10px;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-menu a:hover {
    color: #f39c12;
  }
  
  .footer-contact h3 {
    margin-bottom: 10px;
  }
  .social {
    width: 50%;
  }
  .footer-social {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    background-color: #f39c12;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .social-icon:hover {
    background-color: #e67e22;
  }
  .gif img {
    width: 100%;
    height: 100%;
  }
  .gif {
    width: 7rem;
    overflow: hidden;
    animation: moveGif 10s linear infinite;
  }
  @keyframes moveGif {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(37vw);
    }
    100% {
        transform: translateX(0);
    }
  }


div.go_top {
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: fixed;
    background: #ffffff;
    bottom: 40px;
    right: 15px;
    border-radius: 100%;
    z-index: 999;
    border: solid 1px #878787;
}
@keyframes bouncez {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
div.go_top:before {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 26px;
    position: absolute;
    color: #878787;
    top: 40%;
    left: 27%;
    transition: all 0.8s ease;
    animation: bouncez  1.2s 500ms infinite;
}

@media (max-width: 1024px) {
    .menu{
        display: none;
    }
    nav {
        justify-content: none;
    }
    nav label {
        font-size: 2rem;
    }
    .label1 {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        
    }
    .label2 {
        display: none;
    }
    .toggler:checked ~ .menu1 {
        border-top:1px solid red ;
        display: block;
    }
    .toggler:checked ~ .nav_overlay {
        display: block;
        top: 23.2rem;
    }
    .toggler:checked ~ .label1 {
        display: none;
    }
    .toggler:checked ~ .label2 {
        display: block;
        align-items: center;
        cursor: pointer;
       
    }
    .intro {
        display: none;
    }
    .banner {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

}
@media (max-width: 968px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .fix {
        background-image: url(images/background.jpg);
        background-size: cover;
    }
    .fix,.fix1 {
        width: 100%;
        height: auto;
        position: relative;
    }
    .fix1 {
        top: auto;
    }
    .fix1 .container2 {
        margin-right: auto;
    }
    .sale {
        padding: 0;
    }
    .uu-dai {
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }
    .fix-img {
        display: none;
    }
    .ctn-fixed {
        
    }
    .ctn-absolute {
       
        top: auto;
    }
    .fix2 {
        height: 0px;
    }
    .container3 {
        display: block!important;
    }
    .footer-content {
        max-width: 100%;
        width: 100vw;
    }
    .social {
        width: 100%;
    }
    .gif {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    @keyframes moveGif {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(70vw);
        }
        100% {
            transform: translateX(0);
        }
    }

}